In [1]:
import pandas as pd

In [6]:
import os

In [10]:
os.getcwd()

'/Users/salih'

In [11]:
os.chdir('/Users/salih/Documents/pythonwork')

In [12]:
tweet=pd.read_csv("tweet_data5")

In [13]:
tweet.head()

,Unnamed: 0,created_at,id,id_str,full_text,truncated,display_text_range,entities,extended_entities,metadata,...,is_quote_status,retweet_count,favorite_count,favorited,retweeted,possibly_sensitive,lang,quoted_status_id,quoted_status_id_str,quoted_status
0,0,Fri Jul 17 14:23:00 +0000 2020,1284131491622969344,1284131491622969344,‘It was like watching my husband get killed al...,False,"[0, 208]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 1284113494955229184, 'id_str...","{'result_type': 'popular', 'iso_language_code'...",...,False,745,1384,False,False,False,en,NaN,NaN,NaN
1,1,Fri Jul 17 11:12:54 +0000 2020,1284083650682855429,1284083650682855429,Asking for evidence is racist now. \n\nMiss Sw...,False,"[0, 221]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,"{'result_type': 'popular', 'iso_language_code'...",...,False,947,2569,False,False,False,en,NaN,NaN,NaN
2,2,Fri Jul 17 19:34:22 +0000 2020,1284209850105331712,1284209850105331712,Miss Swimsuit UK Stripped of Title For Posting...,False,"[0, 178]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,"{'result_type': 'popular', 'iso_language_code'...",...,False,640,643,False,False,False,en,NaN,NaN,NaN
3,3,Fri Jul 17 22:02:10 +0000 2020,1284247046288035840,1284247046288035840,George Floyd protests escalate in Portland as ...,False,"[0, 111]","{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,"{'result_type': 'popular', 'iso_language_code'...",...,False,377,506,False,False,False,en,NaN,NaN,NaN
4,4,Fri Jul 17 21:35:43 +0000 2020,1284240390938398726,1284240390938398726,"Eric Garner should be alive today. Instead, si...",False,"[0, 280]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 1284202107915182080, 'id_str...","{'result_type': 'popular', 'iso_language_code'...",...,False,361,1510,False,False,False,en,NaN,NaN,NaN